
        <ion-tabs class="tabs-icon-left tabs-top">
            <ion-tab title="Albums" icon-off="ion-ios-albums" icon-on="ion-ios-albums" href="#/tab/dashAlbum/albums/">
                <ion-nav-view name="tab-albums"></ion-nav-view>
            </ion-tab>            <!-- Chats Tab -->
            <ion-tab title="Tracks" icon-off="ion-ios-musical-note" icon-on="ion-ios-musical-note" href="#/tab/dashAlbum/dtracks">
                <ion-nav-view name="tab-tracks"></ion-nav-view>
            </ion-tab>
        </ion-tabs>

