<ion-view view-title="&Oslash;VELSER">
  <ion-content class="background-color">
      <div class="list">
          <div class="padding item-text-custom ng-binding">
              <h1 style="text-align:center"><span style="color:#c0392b"><span style="font-size:24px"><strong>Mindfulness&Oslash;velser</strong></span></span></h1>

              <p style="text-align:center"><span style="color:#c0392b"><span style="font-size:24px"><strong>DOWNLOAD DEN FULDE VERSION </strong></span></span></p>

              <p style="text-align:center"><span style="color:#c0392b"><span style="font-size:24px"><strong>FOR AT SE ALLE &Oslash;VELSERNE</strong></span></span></p>

              <p>&nbsp;</p>

              <p><span style="font-size:22px"><span style="color:#c0392b"><strong>Herunder finder du forslag til, hvordan en mindfulness &Oslash;velse kan pr&aelig;senteres sammen med musikken. </strong></span></span></p>

              <p><span style="font-size:22px"><span style="color:#c0392b"><strong>Musikken kan ogs&aring; st&aring; & alene uden &Oslash;velser.</strong></span></span></p>

              <p>&nbsp;</p>

              <p><span style="font-size:16px"><strong>DEN BL&Aring; ANEMONE (FOR&Aring;R)</strong></span></p>

              <p>
                  <span style="font-size:16px">
                      B&Oslash;rnene forestiller sig, at de er blomster, der m&aelig;rker solens varme pa? sig.<br>
                      Start f.eks. med at sige: "Luk &Oslash;jnene. Nu er du en lille anemone, der vokser op af jorden....
                  </span>
              </p>

              <p><span style="color:#c0392b"><span style="font-size:16px"><strong>I DANMARK ER JEG F&Oslash;DT (HJEM)</strong></span></span></p>

              <p><span style="color:#c0392b"><span style="font-size:16px">B&Oslash;rnene forestiller sig, at de sidder under et tr&aelig;...</span></span></p>

              <p><span style="font-size:16px"><strong>NU FALMER SKOVEN&nbsp;(EFTER&Aring;R)</strong></span></p>

              <p><span style="font-size:16px">B&Oslash;rnene forestiller sig...</span></p>

              <p><span style="color:#c0392b"><span style="font-size:16px"><strong>JEG SER DE B&Oslash;GELYSE &Oslash;ER (DANMARK)</strong></span></span></p>

              <p><span style="color:#c0392b"><span style="font-size:16px">B&Oslash;rnene forestiller sig, </span></span></p>

              <p><span style="font-size:16px"><strong>UNDERLIGE AFTENLUFTE (AFTEN)</strong></span></p>

              <p><span style="font-size:16px">B&Oslash;rnene forestiller sig, at de ser pa? en smuk solnedgang ...</span></p>

              <p>&nbsp;</p>

              <p><span style="font-size:16px"><span style="color:#c0392b"><strong>DEN MILDE DAG ER LYS OG LANG (DAG)</strong></span></span></p>

              <p><span style="color:#c0392b"><span style="font-size:16px">B&Oslash;rnene forestiller sig, at de f&Oslash;rst gynger og bagefter ga?r tur pa? det bl&Oslash;de, varme gr&aelig;s, mens de....</span></span></p>

              <p>&nbsp;</p>

              <p><span style="font-size:16px"><strong>DANMARK NU BLUNDER DEN LYSE NAT (DR&Oslash;MME)</strong></span></p>

              <p><span style="font-size:16px">B&Oslash;rnene forestiller sig, at de sv&aelig;ver rundt mellem ....</span></p>

              <p>&nbsp;</p>

              <p><span style="color:#c0392b"><span style="font-size:16px"><strong>SPURVEN SIDDER STUM BAG KVIST</strong></span></span></p>

              <p><span style="color:#c0392b"><span style="font-size:16px">B&Oslash;rnene forestiller sig, at de laver en snemand af sneen. Derefter ga?r de ...</span></span></p>

              <p>&nbsp;</p>

              <p><span style="font-size:16px"><strong>EN YNDIG OG FRYDEFULD SOMMERTID (SOMMER)</strong></span></p>

              <p><span style="font-size:16px">B&Oslash;rnene ligger og forestiller sig lyden og duften af hav pa? en dejlig sommerdag. Solen der ...&nbsp;</span></p>
          </div>
      </div>
  </ion-content>
</ion-view>
